body #root .App .content-box .login-box {
  height: 100vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content-box {
  background: #01143E;
  padding-top: 130px;
}

.content-list {
  margin: 0 20px 0 ;
  padding: 0;
}
.content-list li{
  list-style: none;
}
.content-list li span{
  width: 25px;
  height: 25px;
  border: #fff solid 1px;
  display: inline-block;
  border-radius: 100%;
  line-height: 23px;
  text-align: center;
  margin: 10px 5px 10px 0;
  color: #fff;
}

.login-box {
  background: #F2F6FF;
  padding-top: 130px;
}

.light-background {
  background: #0078FA !important;
  color: #fff !important;
}

.light-color {
  color: #0078FA !important
}